/* Global variables setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pinl: #ff6863;
  --color-hot-pink: #f851b5;
  --color-deep-hot-pink: #ff0076;
  --color-orange: #f85106;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-light-yellow: #fff7d1;
  --color-light-darker-yellow: #fae987;
  --color-yellow: #feb546;
  --color-black: #000000;
  --color-beautiful-black: #23211f;
  --color-beautiful-gray: #5e6062;
  --color-beautiful-dark-blue: #101420;
  --color-beautiful-gray-lighter: rgb(110, 118, 125);
  --color-beautiful-gray-whiter: rgb(143, 146, 148);
  /* --color-beautiful-gray: #2F3336; */
  --color-clear-blue: #1e90ff;
  --color-ocean-blue: #1b57ff;
  --color-brilliant-purple: #5a27e7;
  --color-mint: #3affc7;
  --color-dark-mint: #00cb96;
  --color-neon-green: #aaff65;
  --color-light-green: #8df08c;
  --color-neon-sky-blue: #1ee5ff;

  /* Font Size */
  --font-large: 48px;
  --font-large-medium: 40px;
  --font-large-small: 35px;
  --font-medium-large: 31px;
  --font-medium: 28px;
  --font-medium-small: 23px;
  --font-medium-middle-small: 22px;
  --font-medium-middle-ssmall: 20px;
  --font-medium-ssmall: 19px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  --font-micro-micro: 13px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-description: 260;

  /* Border */
  --border-bold: 4px;
  --border-semi-bold: 2px;

  /* Size */
  --size-border-radius: 4px;
  --size-border-radius-smooth-round: 8px;
  --size-border-radius-circular: 10px;
  --size-border-radius-more-circular: 14px;

  /* Animation */
  --animation-duration: 300ms;

  /* Universal tags */
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 40px;
  color: var(--color-white);
}

.contents {
  padding: 19px 11px 17px;
  line-height: 19px;
  font-size: 15px;
  font-weight: 600;
  color: #242424;
  cursor: pointer;
}

.contents i {
  margin-right: 4px;
  color: #fe8c52;
}

.floating__box {
  width: 35%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--color-white);
  color: var(--color-black);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--size-border-radius);
}

.contents.workout,
.contents.park {
  margin-right: 25px;
}
