/* Global variables setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pinl: #ff6863;
  --color-hot-pink: #f851b5;
  --color-deep-hot-pink: #ff0076;
  --color-orange: #f85106;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-light-yellow: #fff7d1;
  --color-light-darker-yellow: #fae987;
  --color-yellow: #feb546;
  --color-black: #000000;
  --color-beautiful-black: #23211f;
  --color-beautiful-gray: #5e6062;
  --color-beautiful-dark-blue: #101420;
  --color-beautiful-gray-lighter: rgb(110, 118, 125);
  --color-beautiful-gray-whiter: rgb(143, 146, 148);
  /* --color-beautiful-gray: #2F3336; */
  --color-clear-blue: #1e90ff;
  --color-ocean-blue: #1b57ff;
  --color-brilliant-purple: #5a27e7;
  --color-mint: #3affc7;
  --color-dark-mint: #00cb96;
  --color-neon-green: #aaff65;
  --color-light-green: #8df08c;
  --color-neon-sky-blue: #1ee5ff;

  /* Font Size */
  --font-large: 48px;
  --font-large-small: 35px;
  --font-medium-large: 31px;
  --font-medium: 28px;
  --font-medium-small: 23px;
  --font-medium-middle-small: 21px;
  --font-medium-ssmall: 19px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-description: 260;

  /* Border */
  --border-bold: 4px;
  --border-semi-bold: 2px;

  /* Size */
  --size-border-radius: 4px;
  --size-border-radius-smooth-round: 8px;
  --size-border-radius-circular: 10px;
  --size-border-radius-circular-like-circle: 24px;

  /* Animation */
  --animation-duration: 300ms;

  /* Universal tags */
}

* {
  color: var(--color-white);
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  background: var(--color-beautiful-dark-blue);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  background: rgba(39, 43, 56, 0.565);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  width: 400px;
  height: 430px;
  border: 1px solid var(--color-beautiful-gray);
  border-radius: var(--size-border-radius-circular-like-circle);
}

.login__title {
  font-size: var(--font-medium-large);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 40px;
}

.login__title p {
  margin: 5px 0 30px 0;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  height: 85px;
}

input {
  width: 300px;
  height: 85px;
  border-style: none;
  font-size: var(--font-small);
  padding: 10px 16px;
  background: rgba(39, 43, 56, 0.565);
  border: 1px solid var(--color-beautiful-gray);
  border-radius: var(--size-border-radius);
}

.input.pw {
  margin-top: 30px;
}

#loginBtn {
  margin: 30px 0;
  width: 330px;
  border-style: none;
  padding: 15px 30px;
  border-radius: var(--size-border-radius-circular-like-circle);
  background: var(--color-mint);
  color: var(--color-beautiful-black);
  cursor: pointer;
}

.login__else__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 170px;
}

span {
  color: var(--color-mint);
  margin: 0 1px;
  font-size: var(--font-micro);
}

.login__else.forgotPW,
.login__else.signup {
  cursor: pointer;
}
