/* Global variables setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pinl: #ff6863;
  --color-hot-pink: #f851b5;
  --color-deep-hot-pink: #ff0076;
  --color-orange: #f85106;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-light-yellow: #fff7d1;
  --color-light-darker-yellow: #fae987;
  --color-yellow: #feb546;
  --color-black: #000000;
  --color-beautiful-black: #23211F;
  --color-beautiful-gray: #5e6062;
  --color-beautiful-dark-blue: #101420;
  --color-beautiful-gray-lighter: rgb(110, 118, 125);
  --color-beautiful-gray-whiter: rgb(143, 146, 148);
  /* --color-beautiful-gray: #2F3336; */
  --color-clear-blue: #1e90ff;
  --color-ocean-blue: #1b57ff;
  --color-brilliant-purple: #5A27E7;
  --color-mint: #3affc7;
  --color-dark-mint: #00cb96;
  --color-neon-green: #aaff65;
  --color-light-green: #8DF08C;
  --color-neon-sky-blue: #1ee5ff;

  /* Font Size */
  --font-large: 48px;
  --font-large-small: 35px;
  --font-medium-large: 31px;
  --font-medium: 28px;
  --font-medium-small: 23px;
  --font-medium-middle-small: 21px;
  --font-medium-ssmall: 19px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-description: 260;

  /* Border */
  --border-bold: 4px;
  --border-semi-bold: 2px;

  /* Size */
  --size-border-radius: 4px;
  --size-border-radius-smooth-round: 8px;
  --size-border-radius-circular: 10px;

  /* Animation */
  --animation-duration: 300ms;

  /* Universal tags */
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: var(--font-medium-large);
  color: var(--color-white);
}

h2 {
  font-size: var(--font-medium);
  color: var(--color-white);
  margin: 30px 0;
  letter-spacing: 4px;
  word-spacing: 10px;
}

h3 {
  margin-top: 40px;
  letter-spacing: 2px;
  word-spacing: 6px;
  font-weight: var(--weight-regular);
  font-size: var(--font-regular);
  color: #fff53c;
}

#navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  align-items: center;
}

.navbar__menu {
  display: flex;
  cursor: pointer;
}


.navbar__logo {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
  color: var(--color-mint);
  /* color: var(--color-pink); */
  /* color: var(--color-deep-hot-pink); */
  margin-left: 20px;
  padding: 10px 25px;
  line-height: 55px;
}

.navbar__logo a {
  margin-left: 4px;
  /* color: var(--color-deep-hot-pink); */
  color: var(--color-mint);
  /* color: var(--color-pink); */
  line-height: 55px;
}

.navbar__manu__item {
  font-size: var(--font-regular);
  color: var(--color-black);
  list-style: none;
  margin: 4px 30px 4px 22px;
  padding: 12px 8px;
}

.navbar__manu__item.language {
  color: var(--color-dark-white);
}

.navbar__manu__item.login {
  color: var(--color-dark-gray);
  /* color: var(--color-dark-gray); */
  /* border: var(--color-mint) solid var(--border-bold); */
  background: var(--color-mint);
  padding: 9px 32px;
  border-radius: var(--size-border-radius-smooth-round);
}

#home {
  background: url("https://n2physicaltherapy.com/uploads/YDFWFxXV/737x0_1140x0/Morning-Run-Female.jpg")
    center/cover no-repeat;
  padding: 180px 180px;
  text-align: start;
}

.home__container h2 strong {
  color: var(--color-neon-sky-blue);
}

.home__signup {
  margin: 10px 0;
  border-style: none;
  cursor: pointer;
  background: var(--color-mint);
  padding: 10px 40px;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  color: var(--color-beautiful-black);
}

/* Find place - map */
/* #findplace {
  border-bottom: 1px solid var(--color-beautiful-gray);
} */

.section.map {
  height: 700px;
  padding: 60px;
  padding-top: 80px;
  /* background-color: var(--color-light-yellow); */
  /* background: var(--color-beautiful-black); */
  background: var(--color-beautiful-black);
}

.section_container {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
}

.findplace__left {
  border-radius: var(--size-border-radius-smooth-round) 0 0
    var(--size-border-radius-smooth-round);
  flex-basis: 45%;
  /* padding-top: 5%; */
  background: var(--color-dark-mint);
  /* border: 2px solid var(--color-beautiful-gray);  */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.findplace__left__description p {
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-description);
  margin: 35px 0 30px 0;
}

.divideLine {
  position: relative;
  width: 200px;
  height: 1px;
  margin: auto;
  background-color: var(--color-light-white);
}

select {
  border-radius: var(--size-border-radius-smooth-round);
  width: 250px;
  height: 35px;
  background: var(--color-white);
  text-align: center;
  text-align-last: center;
  font-size: 18px;
  margin: 15px 0 8px 0;
  border-style: none;
}

.divideLine.divline2 {
  position: relative;
  width: 300px;
  height: 1px;
  margin: 70px auto 40px auto;
  background-color: var(--color-light-white);
}

.findplace__left__searchBtn {
  margin-top: 4px;
  /* margin-bottom: 90px; */
}

.searchBtn {
  background-color: var(--color-beautiful-black);
  color: var(--color-light-darker-yellow);
  font-weight: var(--weight-bold);
  border-style: none;
  font-size: var(--font-small);
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: var(--size-border-radius-circular);
}

.findplace__left__moreDesc p {
  color: var(--color-light-darker-yellow);
  font-size: var(--font-regular);
  font-weight: normal;
}

.moreBtn {
  border-style: none;
  background: #ffedac;
  /* background-color: var(--color-light-darker-yellow); */
  color: var(--color-beautiful-black);
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
  cursor: pointer;
  width: 270px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: var(--size-border-radius-circular);
}

.searchBtn:hover {
  background-color: var(--color-beautiful-black);
  color: var(--color-light-darker-yellow);
  cursor: pointer;
} 

.map {
  flex-basis: 55%;
  align-content: center;
  background-color: var(--color-white);
}

.findplace__right.map {
  border-radius: 0 var(--size-border-radius-smooth-round)
    var(--size-border-radius-smooth-round) 0;
}


/* SNS */
.section.sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 880px;
  background-color: var(--color-beautiful-black);
}

.sns__left p {
  color: var(--color-white);
}

.sns__left {
  flex-basis: 36%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-beautiful-black);
  /* background: url("https://visitmontgomery.com/wp-content/uploads/2018/05/Hiking-1.jpg")
    center/cover no-repeat; */
  /* background: url("https://www.rei.com/blog/wp-content/uploads/sites/4/2018/09/UP-Photo_03.jpg?resize=1024%2C683") */
    top/cover no-repeat;
}

.sns__left h1 {
  color: var(--color-white);
  /* padding: 6px 12px; */
}

.sns__left p {
  color: var(--color-white);
  font-weight: bolder;
  font-size: large;
  word-spacing: 2px;
}

.sns__uploadBtn {
  border: var(--border-bold) solid var(--color-neon-green);
  margin-top: 30px;
  /* border-style: none; */
  border-radius: var(--size-border-radius-circular);
  padding: 7px 28px;
  font-size: var(--font-medium-ssmall);
  color: #4d4d4d;
  background-color: var(--color-neon-green);
  cursor: pointer;
}

 /* .sns__uploadBtn:hover {
  border: var(--border-bold) solid var(--color-neon-green);
  color: var(--color-light-white);
  background-color: var(--color-beautiful-black);
}  */

.sns__container {
  flex-basis: 64%;
  display: flex;
  flex-direction: column-reverse;
}

.sns__board {
  border-radius: var(--size-border-radius-smooth-round);
  /* width: 100%; */
  height: 130px;
  background-color: var(--color-beautiful-black);
  margin-top: 15px;
  margin-right: 20px;
  border: 1px solid var(--color-beautiful-gray);
}

.sns__p__style1 {
  color: var(--color-light-green);
}

.board__inner__box {
  color: var(--color-white);
  margin: 15px 0;
  display: flex;
  justify-content: space-evenly;
}

.board__font.content {
  margin-top: 5px;
  max-width: 550px;
  display:-webkit-box; 
  word-wrap:break-word; 
  -webkit-line-clamp:3; 
  -webkit-box-orient:vertical; 
  overflow:hidden; 
  text-overflow:ellipsis; 
  max-height: 63px;
  line-height:21px; 
}

.board__icons__container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board__icon span {
  margin-left: 5px;
  font-size: var(--font-micro);
}

.board__profile {
  border-radius: 9999px;
  border-width: 1px;
  border: 0 solid var(--color-black);
  width: 46px;
  height: 46px;
}

.board__font {
  font-size: 15px;
}

.board__font,
.board__icon {
  color: var(--color-beautiful-gray-whiter);
  font-weight: lighter;
}

.board__font.username,
.board__font.content {
  color: var(--color-light-white);
}

.board__font.username {
  margin-right: 5px;
  font-weight: var(--weight-semi-bold);
}

#contact {
  padding: 120px 0 55px 0;
  background: var(--color-beautiful-black);
  color: var(--color-white);
  font-size: var(--font-micro);
  text-align: center;
}

.contact p {
  margin: 0;
}

.contact__contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}

.contact__contents span,
.contact__rights {
  font-weight: var(--weight-description);
  /* letter-spacing: 1px; */
  word-spacing: 2px;
}

.contact__contents span {
  margin-right: 10px;
}

.contact__email{
  margin-right: 30px;
}

.contact__content.title {
  font-weight: var(--weight-semi-boldd);
}

.contact__link {
  display: flex;
  flex-direction: row;
  justify-self: baseline;
}

.contact__content.link i {
  color: var(--color-white);
  font-size: var(--font-medium-small);
}